body{
    font-family: 'Inter', sans-serif;
    padding: none;
    color: var(--text);
    background-color: var(--white);
}

a{
    text-decoration: none;
    color: none;
}

:root{
    --text: #f5f5f5;
    --vert : #6ccc9a;
    --vert-f : #56b081;
    --red : #c75454;
    --red-f : #a34040;
    --orange : #e68250;
    --orange-f : #c76e41;
    --card-bg : #292929;
    --grey : #d6d6d6;
    --white : #474747;
}

/* homepage */

.container{
    width: 80%;
    margin: auto;
}

.homepage-year-display{
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 80%;
    height: auto;
    padding: 20px;
}

.homepage-year-contain{
    background-color: var(--card-bg);
    border-radius: 5px;
}

.homepage-grayscale{
    width: 300px;
    object-fit: contain;
    color: black;
    filter: grayscale(1);
    transition: 0.5s;
}

.homepage-grayscale:hover{
    filter: grayscale(0);
    transition: 0.5s;
}

.homepage-year-img{
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.homepage-year-title{
    margin: 5px 5px 0 5px;
    font-size: 1em;
    color: var(--text);
    text-transform: uppercase;
}

.homepage-year-number{
    font-size: 0.5em;
    color: var(--text);
    margin: 0 0 10px 0;
    padding: 5px;
}

.homepage-add{
    width: 40px;
    height: 40px;
    color: var(--vert);
    transition: 0.3s;
}

.homepage-add:hover{
    color: var(--vert-f);
    transition: 0.3s;
}

.homepage-add-align{
    align-self: flex-end;
}

.homepage-new-student{
    display: flex;
    width: 168px;
    margin: auto;
    background-color: var(--vert);
    color: var(--text);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.6em;
    transition: 0.3s;
    text-align: center;
    transition: 0.3s;
}

/* navbar */

.nav{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: auto;
    background-color: none;
    border-bottom: 1px solid var(--grey);
}

.link-display{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link{
    text-decoration: none;
    color: var(--text);
    transition: 0.3s;
}

.nav-link:hover{
    color: var(--vert);
    transition: 0.3s;
}

.nav-icon{
    width: 20px;
    height: 20px;
    background-color: var(--card-bg);
    border-radius: 50px;
    padding: 5px;
    color: var(--text);
    transition: 0.3s;
}

.nav-icon:hover{
    background-color: var(--vert);
    transition: 0.3s;
}

/* login + register */

.login-card{
    margin: 50px auto;
    padding: 20px;
    width: 70%;
    border-radius: 3px;
    background-color: var(--card-bg);
}

.login-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 10px;
}

.login-int-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-title{
    margin: 20px auto;
    text-align: center;
    line-height: 1.8em;
    font-size: 1.5em;
    color: var(--text);
    border-bottom: 1px solid var(--text)
}

.login-label{
    font-size: 0.8em;
    color: var(--text);
}

.login-submit{
    display:inline-block;
    align-self: center;
    margin: 10px auto;
    width: 25%;
    text-align: center;
    border: 1px solid var(--vert);
    border-radius: 3px;
    color: var(--vert);
    padding: 10px;
    background: none;
    transition: 0.3s;
}

.login-input{
    background: none;
    padding: 5px;
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 3px;
    margin: 3px 0px;
}

.login-submit:hover{
    background-color: var(--vert);
    color: var(--white);
    transition: 0.3s;
}

/* yearbook */

.yearbook-main-title{
    text-align: center;
    width: auto;
    margin: auto;
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px;
    color: var(--vert);
}

.yearbook-filters-display{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.yearbook-sort{
    background-color: var(--card-bg);
    color: var(--text);
    border: 0;
    font-size: 0.6em;
    padding: 5px;
}

.yearbook-display{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.yearbook-card{
    width: 100%;
    background-color: var(--card-bg);
    border-radius: 3px;
    padding-bottom: 5px;
}

.yearbook-img-contain{
    width: 100%;
    max-height: 150px;
    color: black;
    filter: grayscale(1);
    transition: 0.5s;
}

.yearbook-img{
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.yearbook-img-contain:hover{
    filter: grayscale(0);
    transition: 0.5s;
}

.yearbook-title{
    margin: 8px 5px;
    font-size: 1.2em;
}

.yearbook-infos-display{
    display: flex;
    justify-content: space-between;
}

.yearbook-infos{
    font-size: 0.6em;
    margin: 5px;
}

.yearbook-like-margin{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    margin: 5px 10px;
}

.yearbook-like{
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.yearbook-like:hover{
    color: var(--vert);
    transition: 0.3s;
}

.yearbook-like-txt{
    margin-left: 5px;
    font-size: 0.7em;
}

.yearbook-modiadd{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.yearbook-delete{
    background-color: var(--red);
    color: var(--text);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.6em;
    transition: 0.3s;
}

.yearbook-delete:hover{
    background-color: var(--red-f);
    transition: 0.3s;
}

.yearbook-modify{
    background-color: var(--orange);
    color: var(--text);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.6em;
    transition: 0.3s;
}

.yearbook-modify:hover{
    background-color: var(--orange-f);
    transition: 0.3s;
}

.yearbook-mod-icon{
    width: 1em;
    height: 1em;
    color: var(--text);
    margin-right: 3px;
}

.yearbook-new-student{
    display: flex;
    width: 95px;
    margin: 10px auto;
    background-color: var(--vert);
    color: var(--text);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.6em;
    transition: 0.3s;
    text-align: center;
    transition: 0.3s;
}

.yearbook-new-student:hover{
    background-color: var(--vert-f);
    transition: 0.3s;
}

@media screen and (max-width: 767px){

    .yearbook-display{
        width: 100%;
        flex-direction: column;
    }

    .homepage-year-display{
        flex-direction: column;
    }

    .login-submit{
        width: 100%;
    }

    .homepage-grayscale{
        width: 100%;
    }

}

@media screen and (max-width: 992px){
    .yearbook-display{
        width: 100%;
        flex-direction: column;
    }
}

