body{
    font-family: 'Inter', sans-serif;
    padding: none;
    color: var(--text);
}

:root{
    --text: #454545;
    --vert : #6ccc9a;
    --card-bg : #F4F4F4;
    --grey : #d6d6d6;
    --white : white;
}

/* homepage */

.container{
    width: 80%;
    margin: auto;
}

.homepage-year-display{
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 80%;
    height: auto;
    padding: 20px;
}

.homepage-year-contain{
    background-color: var(--card-bg);
    border-radius: 15px;
}

.homepage-grayscale{
    color: black;
    filter: grayscale(1);
    transition: 0.5s;
}

.homepage-grayscale:hover{
    filter: grayscale(0);
    transition: 0.5s;
}

.homepage-year-img{
    border-radius: 15px 15px 0px 0px;
    width: 300px;
}

.homepage-year-title{
    margin: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.homepage-year-number{
    font-size: 0.5em;
    margin: 10px;
}

/* navbar */

.nav{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: auto;
    background-color: none;
    border-bottom: 1px solid var(--grey);
}

.nav-link{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-link:hover{
    color: var(--vert);
    transition: 0.3s;
}

/* login + register */

.login-card{
    margin: 50px auto;
    padding: 20px;
    width: 70%;
    border-radius: 3px;
    background-color: var(--card-bg);
}

.login-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 10px;
}

.login-int-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-title{
    margin: 20px auto;
    text-align: center;
    line-height: 1.8em;
    font-size: 1.5em;
    color: var(--text);
    border-bottom: 1px solid var(--text)
}

.login-label{
    font-size: 0.8em;
    color: var(--text);
}

.login-submit{
    display:inline-block;
    align-self: center;
    margin: 10px auto;
    width: 25%;
    text-align: center;
    border: 1px solid var(--vert);
    border-radius: 3px;
    color: var(--vert);
    padding: 10px;
    background: none;
    transition: 0.3s;
}

.login-input{
    background: none;
    padding: 5px;
    border: 1px solid var(--text);
    border-radius: 3px;
    margin: 3px 0px;
}

.login-submit:hover{
    background-color: var(--vert);
    color: var(--white);
    transition: 0.3s;
}